extends components/layout.pug

block content
  .container
    .row
      .col-md-7
        - flashUrl = flash
        embed(src=flashUrl,allowFullScreen="true",quality="higt",width="720",height="600",align="middle",type="video/mp4")
      .col-md-5
        dl.dl-horizontal
          - imgUrl = flash
          img(src=imgUrl,width="200",height="160")
          </br>
          dt 电影名字
          dd #{title}
          dt 导演
          dd #{doctor}
          dt 国家
          dd #{country}
          dt 语言
          dd #{language}
          dt 上映年份
          dd #{year}
          dt 简介
          dd #{summary}