
extends components/layout

block content
  include components/header

  if movies.length>0
    .container
      .row
        each item in movies
          - href = '/movie/'+item._id
          - imgUrl = item.flash
          - url = '/home/'+item._id
          .col-md-3
            .thumbnail
              a(href=href)
                img(src='/image/books/li.jpg') 
              .caption
                h3 #{item.title}
                p
                  p 导演:#{item.doctor}
                  p 简介:#{item.summary}
                  a.btn.btn-primary(href=url,role="button") 观看影片
      .row
        a(href="/addmovie") 添加影片
  else
    .container
      .row
        a(href="/addmovie") 添加影片
      
        
                