extends ./../../components/layout.pug

block content
  .container
    .row
      .col-md-7 
        - flashUrl = movies.flash
        embed(src=flashUrl,allowFullScreen="true",quality="higt",width="720",height="600",align="middle",type="video/mp4")
      .col-md-5
        dl.dl-horizontal
          dt 电影名字
          dd #{title}
          dt 导演
          dd #{movies.doctor}
          dt 国家
          dd #{movies.country}
          dt 语言
          dd #{movies.language}
          dt 上映年份
          dd #{movies.year}
          dt 简介
          dd #{movies.summary}
          dt 影片地址
          dd #{movies.flash}